/CookBook/.vs/CookBook/v15
/CookBook/CookBook.Russian/bin/Debug
/CookBook/CookBook.Japan/bin/Debug
/CookBook/CookBook.Japan/obj/Debug
/CookBook/CookBook.Russian/obj/Debug
/CookBook/CookBook/bin/Debug
/CookBook/CookBook/obj/Debug
/ConsoleApp/.vs/ConsoleApp/v15
/ConsoleApp/AttributeLibrary/bin/Debug
/ConsoleApp/AttributeLibrary/obj/Debug
/ConsoleApp/ClassLibrary/bin/Debug
/ConsoleApp/ClassLibrary/obj/Debug
/ConsoleApp/ConsoleApp/bin/Debug
/ConsoleApp/ConsoleApp/obj/Debug
