/CookBook/.vs/CookBook/v15
/CookBook/CookBook.Russian/bin/Debug
/CookBook/CookBook.Japan/bin/Debug
/CookBook/CookBook.Japan/obj/Debug
/CookBook/CookBook.Russian/obj/Debug
/CookBook/CookBook/bin/Debug
/CookBook/CookBook/obj/Debug
